.home
  section#cover
    .left
      img(src="../../assets/logo.svg")
      a.button.green(href="https://forms.gle/G3CHKjvkizGooySFA", target="_blank") Inscrever-se

    .right
      img(src="../../assets/background-cover.png")

  section#desafio
    .blocks
      img(src="../../assets/jdf.1.png")
      img(src="../../assets/jdf.2.png")
      img(src="../../assets/jdf.3.jpg")
      img(src="../../assets/jdf.4.png")
      img(src="../../assets/jdf.5.png")
      img(src="../../assets/def.vis.jpg")

    .row
      span um novo #[img.inline(src="../../assets/olhar.typo.png")] sobre as #[img.inline(src="../../assets/comunidades.typo.png")]
      a.button.green(href="#o-que-e") saiba mais

    hr

    .challenge-text
      span.title.bold Desafio
      p.text A edição COMUNIDADES Criativas e Inclusivas é um convite para revelar o potencial criativo das periferia brasileiras e dos seus empreendedores e de gerar soluções inclusivas para pessoas com deficiência no Brasil, propondo assim novas ideias de negócios criativos de impacto social.

    img#lines(src="../../assets/lines.png")


  section#online
    span.title.bold 100% Online
    p.text Você não precisa sair da sua casa#[br]para ajudar a construir um mundo melhor.

  section#o-que-e
    span.title.bold O que é o Social Hack?
    p.text 
    | É um Hackathon Online de ideias inovadoras. 
    | Jovens Universitários do Brasil inteiro desenvolvendo ideias de negócios de impacto social positivo!
    | Nessa edição vamos trabalhar em desafios com foco nas comunidades criativas e inclusivas.
    | O Social Hack nasceu da missão de criar uma experiência única, em forma de maratona, onde pessoas de todo o país possam desenvolver ideias de negócio e soluções inovadoras, visando ajudar o mundo a atingir os objetivos globais de desenvolvimento sustentável da ONU.
    img(src="../../assets/hackathon.png")

  section#por-que-participar
    span.title.bold Por que participar?
    p.text
    | Esse formato inovador de maratona online é uma grande oportunidade para conhecer pessoas de todo Brasil, se conectar com mentores que trabalham ou fundaram grandes empresas no país e ainda poder testar suas habilidades e conhecimentos, independente da sua área de atuação, no desenvolvimento de soluções reais para problemas reais de comunidades de todo país.
    img(src="../../assets/subscribe.png")

    a.button.green(href="https://forms.gle/G3CHKjvkizGooySFA", target="_blank") Inscrever-se

  section#como-funciona
    span.title.bold Como funciona?
    .features
      .feature
        .circle
          font-awesome-icon(icon="pencil-alt")
        span.title Inscrição
        span.text É nessa fase que você conta um pouco mais sobre você e submete alguns dados para podermos te conhecer melhor!
      .feature
        .circle
          font-awesome-icon(icon="pencil-alt")
        span.title Formação de Times
        span.text Já tem time formado? ótimo! Ainda não? Não se preocupe que teremos nosso time irá lhe ajudar a encontrar seu time dos sonhos!
      .feature
        .circle
          font-awesome-icon(icon="code")
        span.title Maratona
        span.text Chegou a hora da ação! Você e seu time terão +60 horas para absorver muito conteúdo transmitido pelas LIVES, assim como ter aproveitado bastante as sessões de mentoria com especialistas de diversas áreas.
      .feature
        .circle
          font-awesome-icon(icon="chalkboard-teacher")
        span.title Pitch
        span.text E no final dessa jornada, você terá que apresentar sua solução, assim como submeter seu projeto final para avaliação da nossa banca de jurados.
      .feature
        .circle
          font-awesome-icon(icon="star")
        span.title Avaliação
        span.text Agora é a hora de relaxar e controlar a ansiedade para descobrir quem será o grande vencedor! Nossa banca irá utilizar critérios pré-definidos para avaliar as soluções e definir quem será o grande campeão do Social Hack Edição comunidades!

  section#programacao
    span.title.bold Programação
    .features
      .feature(v-for="event in schedule", :key="event.name")
        .circle
          span.day.bold {{ event.day }}
          span.month {{ event.month }}
        .collapse
          span.text {{ event.name }}
    .background

  section#premios
    .left
      span.heavy-title Mais de #[span.green R$ 45 mil]#[br]em prêmios
      span.title.bold Premiação
      .prizes
        .prize-card(v-for="prize,idx in prizes", :key="idx")
          .top
            span.name {{ prize.name }}
            span.bold.prize {{ prize.prize }}
          .bottom
            img(:src="prize.image")
      span.small Teremos 3 desafios e, para cada desafio, distribuiremos 3 colocações.

    .right
      img(src="../../assets/prizes.png")

  section.row#inscricao
    span Quero me inscrever
    a.button.pink(href="https://forms.gle/G3CHKjvkizGooySFA", target="_blank") Inscrever-se

  section.row#regulamento
    .left
      span Regulamento
      p.text Acesse o regulamento e fique por dentro#[br]de todas as regras do evento.
    a.button.blue(href="https://bit.ly/regulamentoSH2", target="_blank") Acessar regulamento

  section.row#mentor
    .left
      span Quero ser um mentor
      p.text Ajude os participantes com#[br]seus conhecimentos técnicos.
    a.button.green(href="https://forms.gle/XJt234hDJqcNrNMW9", target="_blank") Sou um mentor

  section.row#patrocinador
    .left
      span Quero patrocinar
      p.text Patrocine o evento e ajude-nos a#[br]Impactar ainda mais.
    a.button.yellow(href="https://api.whatsapp.com/send?phone=5584994808561&text=Ol%C3%A1%2C%20gostaria%20de%20saber%20mais%20sobre%20as%20oportunidades%20de%20ser%20patrocinador%20do%20Social%20Hack%20Edi%C3%A7%C3%A3o%20Comunidades", target="_blank") Patrocinar

  footer
    .row
      .column
        span Páginas
        nav
          a.link(href="#", target="_self") Início
          a.link(href="#desafio", target="_self") Desafio
          a.link(href="#o-que-e", target="_self") O que é hackathon?
          a.link(href="#como-funciona", target="_self") Como funciona?
          a.link(href="#programacao", target="_self") Programação
          a.link(href="#premios", target="_self") Prêmios
          a.link(href="https://bit.ly/regulamentoSH2", target="_blank") Regulamento
          a.link(href="https://drive.google.com/file/d/1-xZzY-4DA7H8Q6pOBEKvW89xY25eqAYy/view", target="_blank") Política de Privacidade
    .row
      img(src="../../assets/logo.wide.white.svg")
      img(src="../../assets/slogan.wide.white.svg")
      span Social Hack ® 2020. Todos os direitos reservados. Desenvolvido por #[a.bold(href="https://instagram.com/atwork.agency", target="_blank") Atwork].

    